@import '../vendors/bootstrap';
@import '../base/typography';
@import '../abstracts/variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    background-image: linear-gradient(to top, $footer-igradient, $footer-fgradient);
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
}
.essencial {
    display: flex;
    &__logo {
        width: 3rem;
        height: auto;
    }
    &__title {
        color: $white-txt;
        text-decoration: none;
        font-size: 1.5rem;
    }
    &____title:hover {
        color: $hover-txt-white;
    }
}






